---
import Header from '../components/Header';
import Footer from '../components/Footer';
import { ViewTransitions, fade } from 'astro:transitions';
import ContactSection from '../components/ContactSection';
import type { DocumentData } from 'firebase/firestore';
import AboutCard from '../components/AboutCard';
import Accordion from '../components/Accordion';
import BulletStatsCard from '../components/BulletStatsCard';
import Hero from '../components/Hero';
import InfoCardList from '../components/InfoCardList';
import Sidekick from '../components/Sidekick';
import TabListCards from '../components/TabListCards';
import TextImagecard from '../components/TextImageCard';
import { getData } from '../firebase';

interface Item {
  type: string;
  value: any;
}

interface Props {
  title: string;
  metaDescription: string;
  pageData: DocumentData;
}

const { title, metaDescription, pageData } = Astro.props;

const zarnData = await getData('business_information');
console.log(zarnData[0].favicon);
const zarnLogo = zarnData[0].business_logo;

const websiteName = 'Zarn Automotive';
const phone = '(918) 123-1234';
const address = '1234 Main St, Tulsa, OK 74103';
const navs = [
  {
    link: '/about',
    name: 'About Us',
    subpages: [
      { link: '/our-team', name: 'Our Team' },
      { link: '/faqs', name: 'FAQ' },
      { link: '/care-tips', name: 'Care Tips' },
      { link: '/why-choose-us', name: 'Why Choose Us' },
    ],
  },
  {
    link: '/services',
    name: 'Our Services',
    subpages: [
      { link: '/ac-services', name: 'AC Services' },
      { link: '/auto-repair-estimates', name: 'Auto Repair Estimates' },
      { link: '/battery', name: 'Battery' },
      { link: '/bg', name: 'BG Services' },
      { link: '/brake-system', name: 'Brake System' },
      { link: '/check-engine-light', name: 'Check Engine Light' },
      { link: '/computer-diagnostics', name: 'Computer Diagnostics' },
      { link: '/drivetrain', name: 'Drivetrain' },
      { link: '/electrical-concerns', name: 'Electrical Concerns' },
      { link: '/engine-cooling-system', name: 'Engine Cooling System' },
      { link: '/engine-performance-repair', name: 'Engine Performance Repair' },
      { link: '/fleet-services', name: 'Fleet Services' },
      { link: '/fuel-system', name: 'Fuel System' },
      { link: '/hybrid-electric-vehicles', name: 'Hybrid/Electric Vehicles' },
      { link: '/inspections', name: 'Inspections' },
      { link: '/courtesy-inspection', name: 'Courtesy Inspection' },
      { link: '/preventative-maintenance', name: 'Preventative Maintenance' },
      { link: '/oil-and-filter-change', name: 'Oil and Filter Change' },
      { link: '/tune-ups', name: 'Tune-Ups' },
      { link: '/steering-components', name: 'Steering Components' },
      { link: '/suspension', name: 'Suspension' },
      { link: '/transmission', name: 'Transmission' },
    ],
  },
  {
    link: '/european-car-repair',
    name: 'European Car Repair',
    subpages: [
      { link: '/mercedes', name: 'Mercedes' },
      { link: '/volkswagen', name: 'Volkswagen' },
      { link: '/acura', name: 'Acura' },
      { link: '/bmw', name: 'BMW' },
      { link: '/audi', name: 'Audi' },
      { link: '/volvo', name: 'Volvo' },
      { link: '/porsche', name: 'Porsche' },
      { link: '/mini', name: 'Mini' },
      { link: '/land-rover', name: 'Land Rover' },
      { link: '/jaguar', name: 'Jaguar' },
      { link: '/buick', name: 'Buick' },
      { link: '/cadillac', name: 'Cadillac' },
      { link: '/infiniti', name: 'Infiniti' },
      { link: '/lexus', name: 'Lexus' },
      { link: '/mazda', name: 'Mazda' },
      { link: '/hyundai', name: 'Hyundai' },
    ],
  },
  { link: '/testimonials', name: 'Testimonials' },
  { link: '/book-appointment', name: 'Book Appointment' },
  { link: '/contact', name: 'Contact Us' },
];
const socials = [
  { link: 'https://www.instagram.com/', type: 'instagram' },
  { link: 'https://www.facebook.com/', type: 'facebook' },
];
const cta = 'Contact Us';
---

<!doctype html>
<html
  lang='en'
  class='bg-neutral-9 font-sans font-light text-neutral-9'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='description'
      content={metaDescription}
    />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <script>
      if (
        localStorage.theme === 'dark' ||
        (!('theme' in localStorage) &&
          window.matchMedia('(prefers-color-scheme: dark)').matches)
      ) {
        document.documentElement.classList.add('dark');
      } else {
        document.documentElement.classList.remove('dark');
      }
      localStorage.theme = 'light';
      localStorage.theme = 'dark';
      localStorage.removeItem('theme');
    </script>
    <link rel="icon" type="image/png" sizes="32x32" href={zarnData[0].favicon.favicon_32_x32}>
    <title>{title ? `${title} - ${websiteName}` : websiteName}</title>
    <ViewTransitions />
  </head>
  <body class='bg-ltbg2 dark:bg-dkbg2'>
    <Header
      title={websiteName}
      navs={navs.filter((nav) => nav.link !== '/')}
      cta={cta}
      logo={zarnLogo}
      client:load
    />
    <div class=''>
      <main class='bg-neutral-8'>
        {
          pageData.content.map((item: Item) => {
            switch (item.type) {
              case 'hero_section':
                return (
                  <Hero
                    content={item.value}
                    client:idle
                  />
                );
              case 'sidekick_section':
                return <Sidekick content={item.value} />;
              case 'welcome_message_section':
                return <AboutCard content={item.value} />;
              case 'info_card_list':
                return <InfoCardList content={item.value} />;
              case 'bullet_stats_card':
                return <BulletStatsCard content={item.value} />;
              case 'tab_list_cards':
                return (
                  <TabListCards
                    content={item.value}
                    client:idle
                  />
                );
              case 'text_image_card':
                return <TextImagecard content={item.value} />;
              case 'accordion':
                return (
                  <Accordion
                    content={item.value}
                    client:idle
                  />
                );
              default:
                return null;
            }
          })
        }
      </main>
    </div>
    <ContactSection />
    <Footer
      cta={cta}
      address={address}
      copyright=`${websiteName} 2024`
      navs={navs}
      phone={phone}
      socials={socials}
      client:idle
    />
    <style is:global>
      @tailwind base;

      @layer base {
        @keyframes fadeInUp {
          0% {
            opacity: 0;
            transform: translateY(20vh);
          }
          100% {
            opacity: 1;
            transform: translateY(0);
          }
        }

        .fade-in-up {
          animation: fadeInUp 0.75s ease-out;
        }
        .card-zoom {
          @apply relative overflow-hidden;
        }
        .card-zoom-image {
          @apply absolute h-full w-full transform bg-cover bg-center transition-all duration-500 ease-in-out;
        }
        .card-zoom-text {
          @apply absolute transform transition-all duration-500 ease-in-out;
        }
        .zoom-in {
          @apply scale-[1.25];
        }
      }

      body {
        @apply text-neutral-9 dark:text-neutral-1;
      }

      a {
        @apply transition-transform duration-fast ease-in-out;
      }

      a:hover {
        @apply scale-md;
      }

      strong {
        font-weight: bold;
      }

      h1 {
        @apply text-3xl font-semibold lg:text-4xl;
      }

      h2 {
        @apply text-2xl font-semibold lg:text-3xl;
      }

      h3 {
        @apply text-xl font-semibold lg:text-2xl;
      }

      h4 {
        @apply text-lg font-semibold lg:text-xl;
      }

      h5 {
        @apply text-base font-semibold lg:text-lg;
      }

      h6 {
        @apply text-base font-semibold lg:text-lg;
      }

      p {
        @apply text-base leading-loose lg:text-lg lg:leading-loose;
      }
    </style>
  </body><!-- custom animation keyframes and other global stuffs -->
</html>
